*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
header{
    width:100% ;
    height:100%;
    margin: 0;
}
.logo{
    margin:0 0 30px 0;
    background-color: rgb(6, 61, 112);
    padding:0 0 0 250px;
}
.logo h1{
    color: rgb(230, 228, 189);
    margin: px;
    padding: 16px;
    font-size: xx-large;
    padding-left: 0%;
}
.logo h2{
    margin:15px;
    padding: 4px;
    font-size:large;
    padding-left: 2px;
}
.logo img{
    
    width: 116px;
    float: left;
    border-radius: 102%;
    margin: 2px;
}
.menu{
    
    margin:-31px 10px 0 10px;
    text-align: center;
    padding-top: 10px;

}
.menu a
{
    align-items: center;
    margin: 20px;
    
    color: black;
    text-decoration: none;
    /* font-size-adjust: none; */
    font-weight: 700;
    justify-content:space-around;
}

nav{
    background-color: rgb(107, 114, 122);
    height: 44px;
    width: 100%;
    margin-top: auto;
}

 .founder
{
    /* margin-top: 40px; */
    text-align: center;
    color:yellow;
    font-weight: 900;
    font-size: 30px;
    
}
section img{
     width: 150px;
}
section h1 {
     text-align: center;
}
section p{
    margin-bottom: 80px;
    text-align: justify;
    align-content: center;
    justify-content: center;
    align-items: center;
}

main{
    margin: 0;
    background-image: 
        linear-gradient(rgba(11, 7, 40, 0.774),
        rgba(6, 41, 12, 0.61)),
        url(./bucerius-law.jpg);
    
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
}
footer{
    background-color: rgb(54, 57, 147);
    color: blue;
    text-decoration: none;
    padding: 40px;

    
}
footer a{
    padding: 10px;
    color: #fff;
}
.desc{
    color:#fff;
    font-size: 20px;
}
.desc h1{
    color: rgb(237, 9, 9);
    
}